@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Raleway:ital,wght@0,100;1,100&display=swap');

.text {
    font-size: 22px;
    text-align: justify;
    padding-right: 5px; 
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.header {
background-image: url("../img/header_background.jpeg");    
height: 100vh;
color: azure;
padding: 30px;
background-size:cover;
background-repeat:no-repeat;
background-position:center center;
}

#h2 {
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Raleway', sans-serif;
font-size: 36px;
}

h3 {
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

.contenedor {
max-width: 39%;
margin: 0 auto;
}

.img {
width: 100%;
display: block;
margin: 0 auto;
}

footer {
background-color: black;
color: aliceblue;
text-align: center;
height: 75px;
padding: 30px;
font-size: 18px;
}

#especial {
font-size: 40px;
font-family: 'Merriweather', serif;

}

h1 {
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    max-width: 39%;
    margin: 0 auto;
    padding: 275px;
}

a {
color: red;
text-decoration: none;
}

  
  @media screen and (max-width: 700px) {
    .text {
        font-size: 14px;
        }
        #h2 {
        font-size: 27px;    
        }
        h3{
        font-size: 20px;
        }
        h1{
        font-size: 25px;
        }
        #especial {font-size: 20px;
        }
    }
  
    @media screen and (min-width: 700px) and (max-width: 900px) {
        .text {
            font-size: 18px;
            }
            #h2 {
            font-size: 31px;    
            }
            h3{
            font-size: 25px;
            }
            h1{
            font-size: 32px;
            }
            #especial {font-size: 30px;
            }
            table{
                width: fit-content;
                }
    }
    
  
    @media screen and (min-width: 901px) {
        .text {
            font-size: 22px;
            }
            #h2 {
            font-size: 36px;    
            }
            h3{
            font-size: 30px;
            }
            h1{
            font-size: 55px;
            }
            #especial {
            font-size: 40px;
            }
        }
    
    table {
    border: 2px #000000 solid;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Raleway', sans-serif;
    border-collapse: collapse;
    }
    td, th {
    border: 2px #000000 solid;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Raleway', sans-serif;

    }
    .container {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
      }
      .container .slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 500%;
        height: 100%;
        animation: animate 10s linear infinite;
      }
      .container .slider .slide {
        position: relative;
        width: 20%;
        height: 100%;
        float: left;
      }
      .container .slider .slide .caption {
        position: absolute;
        bottom: 60px;
        left: 60px;
        right: 60px;
        padding: 30px;
        margin: 40px;
        background: rgba(238, 255, 0, 0.651);
        box-sizing: border-box;
      }
      .container .slider .slide .caption  h2 {
        margin: 0,0,20px;
        padding: 0;
        color: #fff;
        font-size: 48px;
        transition: 0.5s;
      }
      .container .slider .slide .caption  p {
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 18px;
        transition: 0.5s;
      }
      .container .slider .slide.slide1 {
        background: url("../img/img_3.jpeg");
        background-size: cover;
        background-position: center;
      }
      .container .slider .slide.slide2 {
        background: url("../img/img_3.jpeg");
        background-size: cover;
        background-position: center;
      }
      .container .slider .slide.slide3 {
        background: url("../img/img_3.jpeg");
        background-size: cover;
        background-position: center;
      }
      .container .slider .slide.slide4 {
        background: url("../img/img_3.jpegg");
        background-size: cover;
        background-position: center;
      }
      
      @keyframes animate {
        0% {
          left: 0;
        }
        20% {
          left: 0;
        }
        25% {
          left: -100%;
        }
        45% {
          left: -100%;
        }
        50% {
          left: -200%;
        }
        70% {
          left: -200%;
        }
        75% {
          left: -300%;
        }
        95% {
          left: -300%;
        }
        100% {
          left: -400%;
        }
      }